@media (max-width: 767.98px)
    .title, .foryou, .video, .icons, .decision, .paragraph, .author, .days, .slider, .questions, .thank, .meet, footer
        padding: 0 calc(50vw - 270px)
    .decision_info_point
        justify-content: space-around !important
    .paragraph
        .table
            &_item
                width: 80% !important
                font-size: 16px !important

@media (min-width: 991.98px) and (max-width: 1199.98px)
    .title, .foryou, .video, .icons, .decision, .paragraph, .author, .days, .slider, .questions, .thank, .meet, footer
        padding: 0 calc(50vw - 480px)
    .title
        .mechanic
            &_regist
                img
                    margin-left: 100px
                &_bonus
                    left: 55%
                    font-size: 12px
            &_face
                width: 450px
            &_text
                width: 430px
                &_subtitle
                    font-size: 16px
                    width: 430px
                &_relationship
                    font-size: 16px
                &_title
                    width: 440px
                    font-size: 38px
                &_points
                    width: 150px
                    &_info
                        font-size: 16px
    .foryou
        &_points
            .column
                .row
                    padding-top: 0
                    padding-bottom: 0
                    width: 170px !important
                    font-size: 16px
                &:last-child
                    .row
                        &:last-child
                            width: 200px !important
    .decision
        &_info_points
            width: 270px !important
        &_points
            .decision_point
                width: 359px !important
        &_info
            &_point
                &_red
                    .decision_info_points
                        width: 270px
    .author
        &_who

            img
                height: 480px
            &_inner
                font-size: 15px
                p
                    margin-top: 25px !important
            &_text
                width: 400px !important

@media (min-width: 1199.98px)
    .title, .foryou, .video, .icons, .decision, .paragraph, .author, .days, .slider, .questions, .thank, .meet, footer
        padding: 0 calc(50vw - 590px)

@media (max-width: 991.98px)
    .title, .foryou, .video, .icons, .decision, .paragraph, .author, .days, .slider, .questions, .thank, .meet, footer
        padding: 0 calc(50vw - 360px)
    .title
        .mechanic
            width: 100%
            padding-top: 130px
            padding-bottom: 50px
            display: block
            margin: 0 auto
            text-align: center
            &_face
                display: block
                margin: 0 auto !important
                width: 450px
            &_text
                position: relative
                display: flex !important
                flex-direction: column !important
                justify-content: center !important
                width: 600px
                margin: 0 auto !important
                &_subtitle
                    display: block
                    margin: 0 auto
                    margin-top: 25px
                    font-size: 16px
                    width: 430px
                &_relationship
                    bottom: 240%
                    left: 50%
                    transform: translateX(-50%)
                    position: absolute
                    font-size: 16px
                    width: 400px
                &_title
                    font-size: 44px
            &_regist
                position: static
                display: flex
                justify-content: space-between
                align-items: center
                width: inherit
                margin-top: 50px
                .regist_btn
                    margin: 0 !important
                &_bonus
                    position: inherit
                    font-size: 15px
                    height: 100%
                    img
                        display: none

    .video
        &_content
            width: 510px
            height: 300px
    .foryou
        &_points
            .column
                .row
                    display: flex
                    flex-direction: column
                    justify-content: center
                    padding: 20px !important
                    width: 150px !important
                    height: 56px
                    font-size: 13px
                &:last-child
                    .row
                        &:last-child
                            margin-top: 0 !important
                            background-size: contain !important
                            width: 150px !important
                        &_text
                            font-size: 25px
                            padding-top: 8px
    .decision

        &_info_points
            width: 270px !important
        &_points
            display: block !important
            .decision_point
                margin: 0 auto
                margin-top: 25px
                width: 80% !important
        &_info
            display: block !important
            img
                display: block
                margin: 0 auto
            &_point
                margin-top: 20px
                padding-bottom: 20px
                flex-direction: row !important
                justify-content: space-between
                .decision_info_points
                    display: flex !important
                    justify-content: center
                    flex-direction: column !important
                    line-height: inherit !important
                    width: 200px !important
                    font-size: 18px !important
                    &:last-child
                        padding-top: 0 !important
                &_dark
                    margin: 0 !important

    .author
        &_who
            flex-direction: column !important
            img
                margin: 0 auto
                width: 75%
            &_inner
                font-size: 15px
                p
                    margin-top: 25px !important
            &_text
                padding-top: 25px
                width: 75% !important
                margin: 0 auto
                display: block
    .days
        min-height: 1600px !important
        .days_block
            padding: 25px 0
            width: 100% !important
            height: 200px !important
            &_title
                width: 100%
            &_text
                padding-top: 25px
                position: relative !important
        .days_arrow
            padding: 50px 0
            transform: rotate(90deg) translateY(3%)
        .title_text
            line-height: inherit
        &_info
            margin-top: 50px !important
            align-items: center
            flex-direction: column
    .regist_btn
        margin: 50px auto !important
    .icons_title
        line-height: inherit
    .icons_points_item
        width: 20% !important
    .icons_points_text
        text-align: center
        margin-top: 21px !important
        font-size: 20px !important
    .questions
        .questions_column
            .questions_block
                .questions_open
                    right: 5%

@media (max-width: 455.98px)
    .str-section
        padding: 0
        width: 280px !important
    .str-wrapper
        width: 280px !important
    .strwf_button
        width: 80% !important
        font-size: 14px !important
    .strwf__radio-label
        font-size: 11px !important

@media (max-width: 605.98px)
    .title, .foryou, .video, .icons, .decision, .paragraph, .author, .days, .slider, .questions, .thank, .meet, footer
        padding: 0 calc(50vw - 160px)
    .str-section
        padding: 0
        width: 80% !important
    .str-wrapper
        width: 100% !important
    .strwf_button
        width: 85% !important
        font-size: 13px !important
    .strwf__radio-label
        font-size: 11px !important
    .meet
        padding-top: 40px !important
        &_subtitle
            font-size: 30px
        &_title
            font-size: 40px
        &_date
            margin-top: 59px
            font-size: 28px
        &_activate
            &_title
                margin-top: 50px
            .activate_title
                margin-top: 50px
    header
        flex-direction: column
        .logo
            justify-content: space-between
            .text
                font-size: 10px
                margin-left: 25px !important
                width: 60% !important
        .info
            margin-top: 25px
            text-align: center
            font-size: 15px !important
    .info_btn
        width: 150px !important
        font-size: 12px !important
        margin: 0 auto
    .mechanic
        &_regist
            flex-direction: column
            &_bonus
                margin-top: 35px
        &_face
            width: 100% !important
            height: inherit !important
        .mechanic_text_title
            font-size: 26px
            text-align: center
        &_text
            width: 100% !important
            &_relationship
                line-height: 25px
                width: 250px !important
                bottom: 161% !important
        .mechanic_text_subtitle
            width: 100% !important
        .mechanic_text_points
            flex-direction: column
            .mechanic_text_points
                flex-direction: row
                justify-content: center !important

    .video
        padding-top: 50px !important
        min-height: 200px !important
        &_content
            width: 300px
            height: 180px
        &_text
            font-size: 16px !important
    .regist_btn
        width: 200px
        height: 50px
        line-height: 50px
        font-size: 13px
    .foryou
        padding-bottom: 20px
        &_title
            line-height: inherit
        &_points
            margin-top: 10px !important
            flex-direction: column
            align-items: center
    .decision_points
        width: 100%
    .decision_point
        padding: 0 20px !important
        .decision_point_img
            width: 64px !important
    .decision_info
        img
            width: 100%
        &_point
            flex-direction: column !important
            align-items: center
    .author_who
        img
            width: 100% !important
            height: inherit !important
    .slick-dots
        flex-wrap: wrap
    footer
        height: inherit
        .info
            flex-direction: column
            align-items: center
            font-size: 12px !important
        .logo
            width: 250px
            &_subtitle
                width: 100% !important
                margin: 0 auto !important
                margin-top: 10px !important
            .text
                font-size: 10px
                margin-left: 25px !important
                width: 50% !important
        .copyright
            margin-top: 25px
    .title_text
        font-size: 28px !important
        line-height: inherit !important
    .row_text
        line-height: inherit
        top: 21% !important
    .icons
        padding-top: 50px !important
        &_points
            margin-top: 40px !important
            flex-direction: column
            align-items: center
            &_item
                width: 100% !important
                margin-bottom: 25px
            &_text
                margin: 0 auto
                width: 100px !important
    .decision
        padding-top: 50px !important
        &_title
            flex-direction: column
            align-items: center
            img
                margin: 20px 0 !important
        &_info
            margin-top: 40px !important
    .paragraph
        padding-top: 50px !important
        padding-bottom: 0 !important
        .table_subtitle
            margin-top: 50px !important
    .author
        padding-top: 50px !important
        padding-bottom: 10px !important
    .author_who_text
        width: 95% !important
    .feedback_title
        width: inherit !important
    .days
        padding-top: 50px !important
        padding-bottom: 50px !important
        .days_arrow
            transform: rotate(90deg) translateY(1%)

    .slider__item
        opacity: 0
    .slick
        &-center
            opacity: 1
        &-arrow
            display: none !important
    .questions
        padding-top: 50px !important
        padding-bottom: 0px !important
    .questions_text
        font-family: BebasNeue
        width: 150px
        font-size: 17px !important
    .large
        height: 80px !important
    .mails
        margin-top: 100px
        flex-direction: column
        justify-content: center
        a
            margin-top: 40px
