*
    font-family: 'Roboto'

body
    min-height: 100%

.title
    min-height: 1000px
    background-color: #101010
    header
        display: flex
        justify-content: space-between
        padding-top: 35px
        .logo
            display: flex
            align-items: center
            .icon
                width: 62px
                height: 48px
            .text
                font-size: 14px
                display: inline-block
                width: 270px
                color: #ffffff
                font-family: Roboto
                margin-left: 45px

        .info
            font-size: 24px
            font-weight: bold
            color: #ffffff
            text-align: center
            &_btn
                font-size: 16px
                font-weight: normal
                color: #000000
                width: 209px
                height: 40px
                margin-top: 13px
                border-radius: 20px
                box-shadow: 0px 2px 0 0 #83692c
                background-color: #e8be48
                text-align: center
                line-height: 40px
    .mechanic
        display: flex
        justify-content: space-between
        margin-top: 60px
        line-height: 35px
        &_face
            border-radius: 15px
            width: 459px
            height: 559px
        &_text
            width: 630px
            font-size: 18px
            font-weight: 300
            color: #fff
            .mechanic_text_relationship
                font-weight: bold
            &_title
                margin-top: 45px
                font-family: 'BebasNeue'
                text-transform: uppercase
                font-size: 54px
            &_subtitle
                margin-top: 50px
                width: 535px
                line-height: 1.29
            &_points
                margin-top: 30px
                display: flex
                justify-content: space-between
                font-weight: 400
                &_info
                    margin-left: 20px
                    width: 200px
                    line-height: 1.33
                &:last-child
                    .mechanic_text_points_info
                        margin-right: 0
            &_pointer
                width: 1px
                height: 61px
                background-color: #e7ba3d
                display: inline-block
        &_regist
            position: relative
            &_bonus
                position: absolute
                width: 180px
                font-size: 14px
                right: 15%
                top: 40%
                line-height: 1.43
                font-weight: 400
                img
                    display: block
                    margin-left: -37px
                    margin-bottom: 10px

main
    .video
        min-height: 1000px
        padding-top: 150px
        &_content
            display: block
            margin: 0 auto
        &_text
            text-align: center
            font-size: 26px
            margin-top: 70px
        .regist_btn
            margin: 0 auto
            margin-top: 100px
    .foryou
        padding-top: 100px
        text-align: center
        min-height: 1000px
        background-color: #101010
        &_points
            margin-top: 100px
            display: flex
            justify-content: space-between
            color: black
            font-size: 20px
            .column
                &:last-child
                    .row:last-child
                        display: flex
                        flex-direction: column
                        justify-content: center
                        padding: 0
                        margin: 0 auto
                        text-align: center
                        margin-top: 25px
                        background: url('../res/img/heart.png') no-repeat center
                        width: 195px
                        height: 170px
                        color: white
                        font-size: 25px
                        font-weight: bold
                        line-height: 1.5

                .row
                    width: 210px
                    border-radius: 49px
                    padding: 25px 65px
                    background-color: #ffffff
                    margin-top: 25px
                    font-weight: bold
    .regist_btn
        margin: 0 auto
        margin-top: 125px
    .icons
        min-height: 450px
        padding-top: 125px
        &_points
            margin-top: 125px
            display: flex
            justify-content: space-around
            &_img
                display: block
                margin: 0 auto
            &_text
                margin-top: 41px
                font-family: 'BebasNeue'
                text-transform: uppercase
                font-size: 24px
                font-weight: bold
    .decision
        min-height: 1200px
        padding-top: 100px
        background-image: linear-gradient(to bottom, rgba(204,202,202,1), rgba(115,114,114,1))
        &_title
            display: flex
            justify-content: center
            align-items: center
            font-size: 46px !important
            text-transform: uppercase
            font-size: 24px
            font-weight: bold
            .block-1
                width: 350px
                font-family: 'BebasNeue' !important
                display: flex
                align-items: center
                justify-content: space-around
            .block-2
                width: 350px
                justify-content: space-around
                display: flex
                font-family: 'BebasNeue' !important
                align-items: center
                img
                    width: 85px
            img
                width: 70px
        &_subtitle
            margin-top: 25px
            text-align: center
            font-size: 24px
            font-weight: bold
            font-stretch: normal
            font-style: normal
            line-height: 1
            letter-spacing: normal
            color: #101010
        &_points
            margin-top: 50px
            display: flex
            justify-content: space-between
            .decision_point
                display: flex
                align-items: center
                width: 40%
                height: 204px
                border-radius: 20px
                box-shadow: 1px 1.7px 27px 0 rgba(18, 19, 14, 0.2)
                background-color: rgb(227, 224, 224)
                padding-left: 50px
                img
                    width: 98px
                &_text
                    font-size: 21.5px
                    padding-left: 15px
                    width: 280px
                    font-weight: 400
                    font-stretch: normal
        &_info
            margin-top: 130px
            display: flex
            justify-content: space-between
            &_point
                display: flex
                flex-direction: column
                text-align: left
                color: white
                &_red
                    .decision_info_points
                        display: flex
                        flex-direction: column
                        width: 315px
                        height: 68px
                        margin: 13px 0
                        border-radius: 20px
                        background-color: #d80606
                        padding-left: 35px
                        padding-right: 15px
                        font-size: 20px
                        font-weight: bold
                        line-height: 68px
                        &:last-child
                            padding-top: 15px
                            line-height: inherit
                &_dark
                    margin-top: 30px
                    .decision_info_points
                        display: flex
                        flex-direction: column
                        width: 315px
                        height: 68px
                        padding-left: 35px
                        padding-right: 15px
                        margin: 13px 0
                        border-radius: 20px
                        background-color: #101010
                        font-size: 20px
                        font-weight: bold
                        line-height: 68px
    .paragraph
        padding-top: 100px
        padding-bottom: 100px
    .paragraph-title
        margin-bottom: 100px
    .paragraph-days
        display: flex
        align-items: flex-start
        justify-content: space-around

        .day
            width: 100px
            font-family: BebasNeue
            font-size: 36px
            font-weight: bold
            color: #e8be48
        ul
            width: 60%
            list-style-type: disc
            font-size: 18px
            line-height: 1.33
            li
                margin-bottom: 35px
    .author

        padding-top: 100px
        padding-bottom: 100px
        background-color: #101010
        min-height: 739px
        .title_text
            font-size: 30px
        &_subtitle
            font-size: 24px
            font-weight: bold
            color: #ffffff
            text-align: center
            margin-top: 32px
        &_who
            padding-top: 60px
            display: flex
            justify-content: space-between
            &_title
                text-align: left
                font-size: 30px
            img
                height: 545px
                border-radius: 15px
            &_text
                font-size: 16px
                color: #fff
                width: 600px
                line-height: 30px
                font-weight: 400

    .feedback
        padding-top: 160px
        min-height: 880px
        &_title
            margin: 0 auto
            width: 40%
            font-family: Roboto
            font-size: 26px
            font-weight: bold
            font-stretch: normal
            font-style: normal
            line-height: 1.38
            letter-spacing: normal
            text-align: center
            color: #101010
    .days
        padding-top: 100px
        padding-bottom: 100px
        height: 619px
        background-color: #101010
        &_info
            margin-top: 140px
            display: flex
            justify-content: space-between
            .days_block
                display: flex
                color: white
                flex-direction: column
                width: 200px
                height: 250px
                align-items: center
                text-align: center
                position: relative
                &_title
                    padding-top: 27px
                    font-family: 'BebasNeue'
                    font-size: 30px
                    font-weight: bold
                    text-transform: uppercase
                &_text
                    width: 200px
                    position: absolute
                    bottom: 0
                    line-height: 1.6
            .days_arrow
                padding-top: 45px
                width: 78px
                height: 23px
    .questions
        min-height: 500px
        padding-top: 170px
        padding-bottom: 170px
        &_text
            font-family: BebasNeue
        &_info
            margin-top: 25px
            font-size: 20px
        .title_text
            margin-bottom: 5px
        &_column
            padding: 0
            display: block
            margin-top: 80px
            margin: 0 auto
            text-align: left
            width: 100%
        .questions_block
            position: relative
            padding-top: 45px
            font-family: 'BebasNeue'
            font-size: 30.5px
            height: 50px
            overflow: hidden
            transition: .5s all
            background-color: white
            padding-left: 10%
            .questions_info
                width: 84%
            .white
                padding-top: 45px
                height: 50px
                background-color: white
            .questions_open
                position: absolute
                top: 45px
                right: 15%
                background-color: #101010
                width: 28px
                height: 28px
                border-radius: 50%
                cursor: pointer
                transition: .5s all
                &:hover::before, &:hover::after
                    transition: .5s all
                    background-color: #e8be48
                &::before
                    display: block
                    content: ''
                    background-color: white
                    width: 2px
                    height: 14px
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translateX(-50%) translateY(-50%)
                &::after
                    display: block
                    content: ''
                    background-color: white
                    width: 14px
                    height: 2px
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translateX(-50%) translateY(-50%)

footer
    height: 250px
    background-color: #101010
    color: #ffffff
    font-size: 14px
    .info
        display: flex
        justify-content: space-between
        padding-top: 60px
        padding-bottom: 60px
        .logo
            .logo_title
                display: flex
                align-items: center
                .icon
                    width: 62px
                    height: 48px
                .text
                    font-size: 14px
                    display: inline-block
                    width: 149px
                    font-size: 12px
                    font-weight: 300
                    margin-left: 45px
            &_subtitle
                margin-top: 30px
                width: 135px
        .copyright
            text-align: center
            &_text
                p
                    margin-top: 8px
            &_protect
                margin-top: 31px
                p
                    margin-top: 8px
                    font-size: 12px
        .contacts
            text-align: center
            img
                margin-right: 5px
            .phone
                .icon
                    margin-top: 30px
            .info_btn
                margin: 0 auto
                margin-top: 10px
                width: 133px
                height: 30px
                font-size: 12px
                line-height: 30px

.title_text
    font-family: 'BebasNeue'
    font-size: 40px
    font-weight: bold
    font-stretch: normal
    font-style: normal
    line-height: 0.6
    letter-spacing: normal
    color: #e8be48
    text-transform: uppercase
    text-align: center

.regist_btn
    cursor: pointer
    margin-top: 80px
    width: 306px
    height: 72px
    border-radius: 36px
    box-shadow: 0px 2px 65px 0 rgba(216, 6, 6, 0.3)
    background-color: #d80606
    font-family: Roboto
    font-size: 18px
    font-weight: bold
    text-align: center
    line-height: 73px
    color: #ffffff
    text-transform: uppercase

.info_btn
    cursor: pointer
    font-size: 16px
    font-weight: normal
    color: #000000
    width: 209px
    height: 40px
    margin-top: 13px
    border-radius: 20px
    box-shadow: 0px 2px 0 0 #83692c
    background-color: #e8be48
    text-align: center
    line-height: 40px

.red
    color: #d80606

.bold
    font-weight: bold
a
    text-decoration: none

ul
    list-style-type: none

    section, header, footer
        padding: 0 15px

.phone_modal
    position: fixed
    top: 0
    left: 0
    z-index: 100
    display: none
    width: 100%
    height: 100%
    overflow: hidden
    background-color: rgba(0,0,0,.5)
    &_input
        display: block
        margin: 20px auto 20px auto
        width: 80%
        height: 50px
        background: #fff
        box-shadow: 0 4px 15px rgba(0,0,0,.2)
        border: 1px rgba(0,0,0,.2) solid
        font-size: 18px
        text-align: center
        padding: 0 20px
        outline: 0
    &_dialog
        position: absolute
        left: 50%
        top: 50%
        transform: translateY(-50%) translateX(-58%)
        width: 80%
        max-width: 660px
    &_content
        position: relative
        width: inherit
        padding: 40px
        background-color: #fff
        border: 1px solid rgba(0,0,0,.2)
        border-radius: 4px
        max-height: 80vh
        .btn
            max-width: 350px
            border-radius: 15px
            display: block
            width: 100%
            margin: 0 auto

.modal
    position: fixed
    top: 0
    left: 0
    z-index: 100
    display: none
    width: 100%
    height: 100%
    overflow: hidden
    background-color: rgba(0,0,0,.5)
    &_dialog
        position: absolute
        left: 50%
        top: 50%
        transform: translateX(-50%) translateY(-50%)
        width: 500px
    &_content
        position: relative
        width: 100%
        padding: 40px
        background-color: #fff
        border: 1px solid rgba(0,0,0,.2)
        border-radius: 4px
        max-height: 80vh
    p
        text-align: center
        font-size: 13px
.modal_close
    position: absolute
    top: 8px
    right: 14px
    font-size: 30px
    color: #000
    opacity: .5
    font-weight: 700
    border: none
    background-color: transparent
    cursor: pointer
.modal_title
    text-align: center
    font-size: 22px
.modal_input
    display: block
    margin: 20px auto 20px auto
    width: 280px
    height: 50px
    background: #fff
    box-shadow: 0 4px 15px rgba(0,0,0,.2)
    border: none
    font-size: 18px
    text-align: center
    padding: 0 20px
    outline: 0
.modal_check
    display: block
    width: 360px
    margin: 0 auto
.modal_btn
    display: block
    margin: 20px auto
    background-color: #d80606
    border-radius: 4px
    color: rgba(255, 255, 255, 1)
    width: 306px
    height: 72px
    font-size: 22px
    border-radius: 36px
    border: 0px solid rgba(255, 255, 255, 1)
    font-weight: bold
    cursor: pointer

.show
    display: block

.hide
    display: none

.slider
    margin-top: 60px
    position: relative
    &__item
        img
            max-width: 250px

.slider__item
    transition: all .3s ease
    opacity: 0.4
    text-align: center

.slick
    &-slide
        img
            width: 200px
    &-track
        display: flex
    &-list
        overflow: hidden
    &-arrow
        position: absolute
        z-index: 10
        opacity: 0
        background-color: black
        width: 40%
        height: 98%
    &-prev
        top: 0
        left: 0
    &-next
        right: 0
        top: 0
    &-dots
        padding-left: 0
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        .slick-active
            button
                background-color: #e8be48
                opacity: 1
        li
            list-style: none
            margin: 0 10px
        button
            font-size: 0
            height: 12px
            background-color: black
            opacity: .15
            border-radius: 50%
    &-center
        opacity: 1
    &-active
        outline: none
button
    border: 0
    outline: none

.str-section
    padding: 30px
    background-color: white

.step
    padding: 62px 0
    background-color: #101010

.confirm
    font-family: BebasNeue
    color: white
    font-size: 48px
    text-align: center

.thank
    padding-top: 116px !important
    padding-bottom: 150px !important
    text-align: center

    background-color: white

.thank_title
    font-family: BebasNeue
    font-size: 36px
    img
        height: 25px

.thank_confirm
    margin: 0 auto
    margin-top: 85px
    width: 80%
    font-size: 24px
    .bebas
        font-family: BebasNeue

.thank_next
    margin-top: 90px
    font-size: 24px

.subnext
    margin-top: 20px
    font-size: 16px

.activate_title
    margin-top: 150px
    font-size: 30px
    font-weight: bold

.mails
    margin-top: 85px
    display: flex
    justify-content: space-around
    height: 43px

.meet
    padding-top: 152px !important
    padding-bottom: 152px !important
    text-align: center

.meet_subtitle
    font-family: BebasNeue
    font-size: 36px

.meet_title
    font-family: BebasNeue
    font-size: 72px
    margin-top: 35px
.meet_date
    font-size: 36px
    font-weight: bold
    margin-top: 126px
    .subnext
        font-weight: 300

.meet_activate_title
    margin-top: 106px
    font-size: 24px

.back-to-top
    position: fixed
    right: 50px
    bottom: 75px
    width: 50px
    height: 50px
    border-radius: 50%
    background-color: #404040
    &:hover
        filter: brightness(1.5)
        outline: none
    &::before, &::after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &::before
        width: 4px
        height: 25px
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        background-color: white
    &::after
        width: 15px
        height: 15px
        transform: translate(-50%, -50%) rotate(45deg)
        border-top: 4px solid #fff
        border-left: 4px solid #fff
